<header>
  <h1><a href="/">luisramalho.com</a></h1>
  <p class="view"><a href="/blog">Blog</a></p>
  <p class="view"><a href="/projects">Projects</a></p>
  <h2>Follow me on</h2>
  <p class="view"><a href="https://github.com/luisramalho">GitHub</a></p>
  <p class="view"><a href="http://stackoverflow.com/users/848250/luis-ramalho">StackOverflow</a></p>
  <p class="view"><a href="https://twitter.com/luisramalho">Twitter</a></p>
  <p class="view"><a href="http://www.linkedin.com/in/luismanuelramalho">LinkedIn</a></p>
</header>