<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{{ page.title }}</title>

<link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
<link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
<style>
  header h1 { margin: 0; padding: 0; }
  header h1 a { color: #333; font-weight: bold; }
  header h2 { font-size:14px; }
  header h2.subheader { font-size:14px; color: #777; font-weight: normal; }
  .social { display: block; }
  footer a i { color: #777; }
  footer a:hover i { color: #39c; }
  section h1 small { color: #777; }
  section h2 a { font-weight: bold; }
  img { display: block; margin: 20px 0; }
  ul { display: block; margin: 20px 0; }
  table { display: block; margin: 20px 0; }
</style>
<link rel="shortcut icon" href="/assets/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
{% if page.url == "/404.html" %}
<meta http-equiv="refresh" content="5; url=/">
{% endif %}
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>